In [3]:
import pandas as pd 
import numpy as np
from pathlib import Path
import os

In [4]:
base_dir = Path(os.getcwd())
file_path = base_dir.parent / "Data" / "raw" / "Olympic_Country_Profiles.csv"
df = pd.read_csv(file_path)

In [5]:
df.head(3)

   noc      country
0  AFG  Afghanistan
1  ALB      Albania
2  ALG      Algeria

In [6]:
list_of_df = np.array_split(df, 10)

/Users/sakshamsharma/.pyenv/versions/3.10.13/lib/python3.10/site-packages/numpy/_core/fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [7]:
counter = 0
curr_dir = Path(os.getcwd())
target_dir = curr_dir.parent / "Data" / "staged" / "Olympic_Country_Profiles_Files"
for i in range(len(list_of_df)):
    path = str(target_dir) + '/Olympic_Country_Profiles' + str(counter)+'.csv'
    list_of_df[i].to_csv(path, index = False)
    counter = counter + 1