In [1]:
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [2]:
base_dir = Path(os.getcwd())
file_path = base_dir.parent / "Data" / "raw" / "Olympic_Athlete_Biography.csv"
df = pd.read_csv(file_path)

In [3]:
df.head(3)

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
0,65649,Ivanka Bonova,Female,4 April 1949,166.0,55,Bulgaria,BUL,Personal Best: 400 – 53.54 (1980).,NaN
1,112510,Nataliya Uryadova,Female,15 March 1977,184.0,70,Russian Federation,RUS,NaN,Listed in Olympians Who Won a Medal at the Eur...
2,114973,Essa Ismail Rashed,Male,14 December 1986,165.0,55,Qatar,QAT,Personal Best: 10000 – 27:20.97 (2006).,Listed in Olympians Who Won a Medal at the Asi...

In [4]:
df.shape

(155861, 10)

In [5]:
list_of_dfs = np.array_split(df, 30)

/Users/sakshamsharma/.pyenv/versions/3.10.13/lib/python3.10/site-packages/numpy/_core/fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [10]:
counter = 0
curr_dir = Path(os.getcwd())
target_dir = curr_dir.parent / "Data" / "staged" / "Olympic_Athlete_Biography_Files" 
for i in range(len(list_of_dfs)):
    path = str(target_dir) +  '/Olympic_Athlete_Biography' + str(counter) + '.csv'
    list_of_dfs[i].to_csv(path, index = False)
    counter = counter + 1