In [2]:
import pandas as pd
import numpy as np 
import os
from pathlib import Path

In [3]:
base_dir = Path(os.getcwd())
file_path = base_dir.parent / "Data" / "raw" / "Olympic_Medal_Tally_History.csv"
df = pd.read_csv(file_path)

In [4]:
df.head()

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
0,1896 Summer Olympics,1,1896,United States,USA,11,7,2,20
1,1896 Summer Olympics,1,1896,Greece,GRE,10,18,19,47
2,1896 Summer Olympics,1,1896,Germany,GER,6,5,2,13
3,1896 Summer Olympics,1,1896,France,FRA,5,4,2,11
4,1896 Summer Olympics,1,1896,Great Britain,GBR,2,3,2,7

In [5]:
df['edition_year'] = df['edition'].str[:4]

In [6]:
df = df.sort_values(by=['edition_year'])

In [8]:
df.shape

(1807, 10)

In [6]:
counter = 0
curr_dir = Path(os.getcwd())
target_dir = curr_dir.parent / "Data" / "staged" / "Olympic_Medal_Tally_History_Files"
for year in df['edition_year'].unique():
    path = str(target_dir) + '/Olympic_Medal_Tally_History_Details' + str(counter) + '.csv'
    temp_df = df[df['edition_year'] == year]
    temp_df = temp_df.drop(columns = 'edition_year')
    temp_df.to_csv(path, index=False)
    counter = counter + 1